.addBtn {
  position: absolute;
 
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.addBtn:hover, .addBtn:focus {
  -webkit-box-shadow: 0 0 10px 0 rgba(128, 204, 240, 0.75);
          box-shadow: 0 0 10px 0 rgba(128, 204, 240, 0.75);
}


.chooseElem {
  position: absolute;
  bottom: 20px;
  right: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 18px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  border: 1px solid #cecece;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.1);
  /*overflow: hidden;*/
  z-index: 5;
}


.chooseElem_btn {
  width: 133px;
  margin: 0;
  padding: 12px;
  color: #3a3e46;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-family: "PTAstraSans", "Arial", sans-serif;
}

.chooseElem_btn + .chooseElem_btn {
  border-left: 1px solid #cecece;
}

.chooseElem_btn:hover, .chooseElem_btn:focus {
  background-color: #eeeeee;
}

