.layoutLanding {
  grid-template-areas: 'header' 'content-1' 'footer';
  background-color: #e0eef5;
  font-family: 'Montserrat', 'Arial', sans-serif;
}

.layoutLanding .footer {
  background-color: #cecece;
}

.layoutLanding .footer svg {
  fill: #3a3e46;
}

.layoutLanding .footer :hover svg,
.layoutLanding .footer :focus svg {
  fill: #80ccf0;
}

.footer {
  background-color: #adadad;
}

.footer svg {
  fill: #3a3e46;
}

.footer :hover svg,
.footer :focus svg {
  fill: #80ccf0;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  position: relative;
  min-height: 100px;
  grid-area: footer;
}

.footer::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233a3e46' stroke-width='2' stroke-dasharray='15%2c 15' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e");
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}

.footerEmpty .placeholder {
  display: block;
}

.footer:hover .addBtn,
.footer:focus .addBtn {
  display: block;
}

.footer:hover::before,
.footer:focus::before,
.footerEmpty::before {
  opacity: 1;
}

.footerEmpty .placeholder {
  display: block;
}
.placeholder {
  display: none;
  max-width: 100%;
  margin: 0;
  padding: 8px 10px;
  font-size: 24px;
  line-height: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'PTAstraSans', 'Arial', sans-serif;
}
